@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0 !important;
    font-family: 'Poppins';
    color: #FFFFFF;
    cursor: default;
    animation-duration: 2s;
}

.main {
    background-color: #181818;
}

.cust-card {
    text-decoration: none !important;
    color: #414141;
    font-weight: 600;
    /*border: 2px solid #bebebe;*/
    border-radius: 13px;
    overflow: hidden;
    background-color: #282828;
}

.cust-card:hover {
    border: 2px solid #3e3e3e;
    color: #414141;
}

a {
    text-decoration: none !important;
    color: #414141 !important;
    height: fit-content !important;
}

a p:hover {
    cursor: pointer;
}

.cust-card a:hover {
    color: #4949c7 !important;
}

p {
    margin: 5px !important;
}

.artistName {
    z-index: 2;
    position: absolute;
    bottom: -90px;
    right: 5px;
    font-size: 20px;
}

img {
    object-fit: cover;
    border-radius: 10px;
}

.spotifyImg:hover {
    cursor: pointer;
}

.artistNameP {
    width: fit-content;
}

.playOverlay {
    opacity: 0;
    color: #4949c7;
}

.albumArtDiv:hover .playOverlay {
    opacity: .7;
    cursor: pointer;
}

.btnGroup p:hover {
    cursor: pointer;
    background-color: #c30000 !important;
}